In [14]:
import pandas as pd

In [15]:
pd.__version__

'1.4.4'

In [21]:
df=pd.read_csv("Datasets/yellow_tripdata_2021-01.csv",index_col=0)

/tmp/ipykernel_32890/2375031311.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Datasets/yellow_tripdata_2021-01.csv",index_col=0)

In [22]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [40]:
pip install pyarrow

Requirement already satisfied: pyarrow in /home/smarteez/anaconda3/lib/python3.9/site-packages (11.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/smarteez/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [24]:
df=pd.read_csv("Datasets/yellow_tripdata_2021-01.csv",index_col=0)

/tmp/ipykernel_32890/2375031311.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Datasets/yellow_tripdata_2021-01.csv",index_col=0)

In [25]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [26]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [27]:
print(pd.io.sql.get_schema(df,"yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [28]:
len(df)

1369769

In [41]:
from sqlalchemy import create_engine

In [42]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /home/smarteez/anaconda3/lib/python3.9/site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [43]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [44]:
#test connection
#engine.connect()

In [45]:
print(pd.io.sql.get_schema(df,"yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [48]:
df=pd.read_csv("Datasets/taxi+_zone_lookup.csv")

In [49]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [46]:
from time import time

In [47]:
df_iter=pd.read_csv("Datasets/taxi+_zone_lookup.csv",index_col=0,iterator=True,chunksize=100000)
df.head(n=0).to_sql(name="zones",con=engine,if_exists='replace')
try:
    while True:
            t_start=time()
            df=next(df_iter)
            df.to_sql(name="zones",con=engine,if_exists='append')
            t_end=time()
            print("inserted another chunk....., took %.3f"%(t_end-t_start))
except StopIteration as e:
    print("all chunks have been successfully added")

inserted another chunk....., took 0.008
all chunks have been successfully added